Flow Chirpstack Gateway to node-red local.txt
[{"id":"42dbb955.48a728","type":"json","z":"118c40f5.87536f","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":160,"wires":[["18f183a1.db42ac"]]},{"id":"18f183a1.db42ac","type":"function","z":"118c40f5.87536f","name":"data","func":"var datastring = msg.payload.data\nmsg.payload = datastring\nreturn msg;","outputs":1,"noerr":0,"x":381,"y":160,"wires":[["6cf3d372.790bbc"]]},{"id":"ccf0c52d.e8b4c8","type":"debug","z":"118c40f5.87536f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":777,"y":242,"wires":[]},{"id":"6cf3d372.790bbc","type":"function","z":"118c40f5.87536f","name":"only data not pings","func":"if(typeof msg.payload !== 'undefined') {\n    return msg;\n}\nelse\n{}","outputs":1,"noerr":0,"x":568,"y":160,"wires":[["ef72809e.f41b3"]]},{"id":"ef72809e.f41b3","type":"function","z":"118c40f5.87536f","name":"base 64 decode","func":"var b = new Buffer (msg.payload,'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":544,"y":242,"wires":[["ccf0c52d.e8b4c8","81acfe04.da2b2"]]},{"id":"81acfe04.da2b2","type":"function","z":"118c40f5.87536f","name":"decimal 16 bits","func":"var a = msg.payload[0];\nvar b = msg.payload[1];\nmsg.payload = b*256+a;\nreturn msg;","outputs":1,"noerr":0,"x":519,"y":340,"wires":[["be8209a0.f9fed8","b8510433.b16d38"]]},{"id":"be8209a0.f9fed8","type":"debug","z":"118c40f5.87536f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":737,"y":341,"wires":[]},{"id":"1f678241.736d2e","type":"mqtt in","z":"118c40f5.87536f","name":"LoRa Server Gateway","topic":"#","qos":"2","datatype":"auto","broker":"62ce48f5.6938b8","x":156,"y":57,"wires":[["42dbb955.48a728","6b0a65c1.e3f19c"]]},{"id":"b8510433.b16d38","type":"modbus-write","z":"118c40f5.87536f","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"8a5044bc.34b558","emptyMsgOnFail":false,"keepMsgProperties":false,"x":680,"y":460,"wires":[["6a92f19b.ddb5c"],[]]},{"id":"6a92f19b.ddb5c","type":"modbus-response","z":"118c40f5.87536f","name":"","registerShowMax":20,"x":890,"y":400,"wires":[]},{"id":"642a3c4b.6f3df4","type":"inject","z":"118c40f5.87536f","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":480,"wires":[["b8510433.b16d38"]]},{"id":"f9f63a82.cbb5b8","type":"mqtt in","z":"118c40f5.87536f","name":"","topic":"emisor_muerto","qos":"2","datatype":"auto","broker":"62ce48f5.6938b8","x":170,"y":580,"wires":[["3808f93e.72c7b6"]]},{"id":"3808f93e.72c7b6","type":"debug","z":"118c40f5.87536f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":600,"wires":[]},{"id":"b47ddebb.2c0ba","type":"mqtt in","z":"118c40f5.87536f","name":"","topic":"/Nave1/tanque1/PLCM241/pump0","qos":"2","datatype":"auto","broker":"62ce48f5.6938b8","x":200,"y":380,"wires":[["3075ecea.e477d4","4d14f477.0b3b5c"]]},{"id":"3075ecea.e477d4","type":"debug","z":"118c40f5.87536f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":320,"wires":[]},{"id":"4d14f477.0b3b5c","type":"function","z":"118c40f5.87536f","name":"","func":"var a=msg.payload;\nif (a=='True') {\n   msg.payload=1; \n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["b8510433.b16d38"]]},{"id":"6b0a65c1.e3f19c","type":"debug","z":"118c40f5.87536f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":60,"wires":[]},{"id":"144f730.5035e8d","type":"inject","z":"118c40f5.87536f","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":440,"wires":[["b8510433.b16d38"]]},{"id":"62ce48f5.6938b8","type":"mqtt-broker","z":"118c40f5.87536f","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"emisor_muerto","willQos":"0","willPayload":"El emisor ha muerto"},{"id":"8a5044bc.34b558","type":"modbus-client","z":"118c40f5.87536f","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.58","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"72","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]