node-red chirpstack payload read easy.txt
[{"id":"6daf2f8a.6cd4","type":"mqtt in","z":"ddd051b7.1571d","name":"","topic":"#","qos":"2","datatype":"auto","broker":"efb89d9b.5d5ac","x":140,"y":80,"wires":[["a943ea93.b6b638","9cf1eefd.b3a06"]]},{"id":"a943ea93.b6b638","type":"debug","z":"ddd051b7.1571d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":80,"wires":[]},{"id":"9cf1eefd.b3a06","type":"json","z":"ddd051b7.1571d","name":"","property":"payload","action":"obj","pretty":false,"x":190,"y":160,"wires":[["16cf0f57.2ba5b1"]]},{"id":"16cf0f57.2ba5b1","type":"function","z":"ddd051b7.1571d","name":"data","func":"var datastring = msg.payload.data\nmsg.payload = datastring\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["343e7339.2d25dc","48c113e.6c847ec"]]},{"id":"343e7339.2d25dc","type":"function","z":"ddd051b7.1571d","name":"only data not pings","func":"if(typeof msg.payload !== 'undefined') {\n    return msg;\n}\nelse\n{}","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["bb882663.338c58","64a871ab.860c2"]]},{"id":"bb882663.338c58","type":"function","z":"ddd051b7.1571d","name":"base 64 decode","func":"var b = new Buffer (msg.payload,'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["2d37caa1.242046"]]},{"id":"2d37caa1.242046","type":"debug","z":"ddd051b7.1571d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":320,"wires":[]},{"id":"48c113e.6c847ec","type":"debug","z":"ddd051b7.1571d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"64a871ab.860c2","type":"debug","z":"ddd051b7.1571d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":240,"wires":[]},{"id":"efb89d9b.5d5ac","type":"mqtt-broker","z":"ddd051b7.1571d","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]