node-red chirpstack payload decoder dragino lsn50v2.txt
[{"id":"6daf2f8a.6cd4","type":"mqtt in","z":"ddd051b7.1571d","name":"","topic":"#","qos":"2","datatype":"auto","broker":"efb89d9b.5d5ac","x":140,"y":80,"wires":[["a943ea93.b6b638","9cf1eefd.b3a06"]]},{"id":"a943ea93.b6b638","type":"debug","z":"ddd051b7.1571d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":80,"wires":[]},{"id":"9cf1eefd.b3a06","type":"json","z":"ddd051b7.1571d","name":"","property":"payload","action":"obj","pretty":false,"x":190,"y":160,"wires":[["16cf0f57.2ba5b1"]]},{"id":"16cf0f57.2ba5b1","type":"function","z":"ddd051b7.1571d","name":"data","func":"var datastring = msg.payload.data\nmsg.payload = datastring\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["343e7339.2d25dc","48c113e.6c847ec"]]},{"id":"343e7339.2d25dc","type":"function","z":"ddd051b7.1571d","name":"only data not pings","func":"if(typeof msg.payload !== 'undefined') {\n    return msg;\n}\nelse\n{}","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["bb882663.338c58","64a871ab.860c2"]]},{"id":"bb882663.338c58","type":"function","z":"ddd051b7.1571d","name":"base 64 decode","func":"var b = new Buffer (msg.payload,'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["2d37caa1.242046","d12b057d.18ba58"]]},{"id":"2d37caa1.242046","type":"debug","z":"ddd051b7.1571d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":320,"wires":[]},{"id":"48c113e.6c847ec","type":"debug","z":"ddd051b7.1571d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"64a871ab.860c2","type":"debug","z":"ddd051b7.1571d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":240,"wires":[]},{"id":"d12b057d.18ba58","type":"function","z":"ddd051b7.1571d","name":"payload decoder","func":"var bytes =msg.payload;\n\n//function Decoder(bytes, port) {\nvar mode=(bytes[6] & 0x7C)>>2;\nvar decode = {};\nif(mode!=2)\n{\n  decode.BatV=(bytes[0]<<8 | bytes[1])/1000;\n  decode.TempC1= parseFloat(((bytes[2]<<24>>16 | bytes[3])/10).toFixed(2));\n  decode.ADC_CH0V=(bytes[4]<<8 | bytes[5])/1000;\n  decode.Digital_IStatus=(bytes[6] & 0x02)? \"H\":\"L\";\n  if(mode!=6)\n  {\n\t decode.EXTI_Trigger=(bytes[6] & 0x01)? \"TRUE\":\"FALSE\";\n  decode.Door_status=(bytes[6] & 0x80)? \"CLOSE\":\"OPEN\";\n  }\n}\n\nif(mode=='0')\n{\n  decode.Work_mode=\"IIC\";\n  if((bytes[9]<<8 | bytes[10])===0)\n  {\n    decode.Illum=(bytes[7]<<24>>16 | bytes[8]);\n  }\n  else\n  {\n  decode.TempC_SHT=parseFloat(((bytes[7]<<24>>16 | bytes[8])/10).toFixed(2));\n  decode.Hum_SHT=parseFloat(((bytes[9]<<8 | bytes[10])/10).toFixed(1));\n  }\n}\nelse if(mode=='1')\n{\n  decode.Work_mode=\" Distance\";\n  decode.Distance_cm=parseFloat(((bytes[7]<<8 | bytes[8])/10) .toFixed(1));\n  if((bytes[9]<<8 | bytes[10])!=65535)\n  {\n    decode.Distance_signal_strength=parseFloat((bytes[9]<<8 | bytes[10]) .toFixed(0));\n  }\n}\nelse if(mode=='2')\n{\n  decode.Work_mode=\" 3ADC\";\n  decode.BatV=bytes[11]/10;\n  decode.ADC_CH0V=(bytes[0]<<8 | bytes[1])/1000;\n  decode.ADC_CH1V=(bytes[2]<<8 | bytes[3])/1000;\n  decode.ADC_CH4V=(bytes[4]<<8 | bytes[5])/1000;\n  decode.Digital_IStatus=(bytes[6] & 0x02)? \"H\":\"L\";\n  decode.EXTI_Trigger=(bytes[6] & 0x01)? \"TRUE\":\"FALSE\";\n  decode.Door_status=(bytes[6] & 0x80)? \"CLOSE\":\"OPEN\";\n  if((bytes[9]<<8 | bytes[10])===0)\n  {\n    decode.Illum=(bytes[7]<<24>>16 | bytes[8]);\n  }\n  else\n  {\n  decode.TempC_SHT=parseFloat(((bytes[7]<<24>>16 | bytes[8])/10).toFixed(2));\n  decode.Hum_SHT=parseFloat(((bytes[9]<<8 | bytes[10])/10) .toFixed(1));\n  }\n}\nelse if(mode=='3')\n{\n  decode.Work_mode=\"3DS18B20\";\n  decode.TempC2=parseFloat(((bytes[7]<<24>>16 | bytes[8])/10).toFixed(2));\n  decode.TempC3=parseFloat(((bytes[9]<<8 | bytes[10])/10) .toFixed(1));\n  \n}\nelse if(mode=='4')\n{\n  decode.Work_mode=\"Weight\";\n  decode.Weight=(bytes[7]<<24>>16 | bytes[8]);\n}\nelse if(mode=='5')\n{\n  decode.Work_mode=\"Count\";\n  decode.Count=(bytes[7]<<24 | bytes[8]<<16 | bytes[9]<<8 | bytes[10]);\n}\n\n  if((bytes.length==11)||(bytes.length==12))\n  {\n  msg.payload=decode;\n  return msg;\n  //return decode;\n  \n  }\n//}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":400,"wires":[["1f167a68.8280f6"]]},{"id":"1f167a68.8280f6","type":"debug","z":"ddd051b7.1571d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":400,"wires":[]},{"id":"efb89d9b.5d5ac","type":"mqtt-broker","z":"ddd051b7.1571d","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]